* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  font-family: 'FuturaLT';
}
body{
  /*position: relative;*/
}
.grid-wrapper{
  height: 100vh;
  display: grid;
  grid-template-areas: "left-sidebar" "central-part" "right-sidebar";
  grid-template-columns: 1fr;
  grid-template-rows:  1fr 1fr 1fr;
}

.left-sidebar {
  grid-area: left-sidebar; background: #000;
  height: 100vh;
  width: 100%;
  color: #fff;
}
.central-part {
  grid-area: central-part; background: #ccc;
  height: 100vh;
  position: relative;
}
.main-content
{
  height: 80%;
  background: green;
}
.read-more{
  height: 10%;
  background: red;
  position: absolute;
  bottom: 0; 
  right: 0; 
  width: 100%;
}
.right-sidebar {
  grid-area: right-sidebar; background: #000;
   height: 100vh;
}
.left-sidebar-img{
  width: 100%;
  height: 60vh;
  display: block;
}
.left-sidebar-text{
  width: 100%;
  height: 40vh;
}
.left-sidebar-comment-header{
  color: #8d8f91;
  text-transform: uppercase;
  padding-bottom: 1em;
 }
 .left-sidebar-comment{
  width: 70%;
  margin: 0 auto;
  margin-top: 1.5em;
 }
 .left-sidebar-comment-main{
  font-size: 1.5em;
 }
 .left-sidebar-autor{
  width: 70%;
  margin: 0 auto;
  margin-top: 1.5em;
  position: relative;
}
.left-sidebar-autor-text{
  display: inline-block;
  position: absolute;
  padding: 1em 0 0 2em;
  width: 30%;
}

.left-sidebar-circle_img{
  width: 5em;
  height: 5em;
  border-radius: 50%;
}



@font-face
{
  font-family: 'FuturaLT';
  src: url(..//font/FuturaLT.ttf);
}